@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
body, a, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Container */
._container {
  max-width: 1120px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jcfs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jcfe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  min-height: 100vh;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70px;
          flex: 1 1 70px;
  background: #1C1C1C;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
}

.header-block {
  height: 70px;
  padding: 0 25px;
}

.logo-block {
  max-width: 122px;
  min-height: 31px;
}
.logo-block .logo {
  max-width: 100%;
  max-height: 100%;
}

.nav__list > * {
  margin: 0 6px 0 7px;
}

.list__item {
  list-style-type: none;
}
.list__item .item__link {
  color: #fff;
  text-decoration: none;
  font-family: "Rubik";
  font-size: 18px;
  padding: 2px 6px;
}
.list__item .item__link_noPadding {
  padding-right: 0;
}
.list__item:last-child {
  margin: 0 0 0 6px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100vh;
          flex: 1 1 100vh;
  margin-top: -140px;
}

.footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70px;
          flex: 1 1 70px;
  height: 70px;
  background: #1c1c1c;
}

.footer-block .author {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.25);
  font-weight: 400;
}
.footer-block .social-block {
  height: 70px;
}
.footer-block .social-block > *:not(:last-child) {
  margin: 0 15px 0 0;
}
.footer-block .social-block .icon-block {
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
}
.footer-block .social-block .icon-block .icon {
  max-width: 100%;
  min-height: 100%;
}

body {
  font-family: "Rubik";
}