@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
body, a, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Container */
._container {
  max-width: 1120px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jcfs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jcfe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  position: relative;
  z-index: 0;
  min-height: 100vh;
}

/* Default */
.title {
  font-size: 20px;
  font-weight: 400;
  color: #D10001;
  margin-bottom: 15px;
}
.title::before {
  display: block;
  content: "";
  width: 2px;
  height: 20px;
  background: #D10001;
  margin-right: 10px;
}

.text {
  min-height: 300px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding-left: 13px;
  line-height: 1.3;
}

/*  */
.header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70px;
          flex: 1 1 70px;
  background: #1C1C1C;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
}
.header .header-block {
  height: 70px;
  padding: 0 20px;
}
.header .header-block .logo-block {
  max-width: 122px;
  min-height: 31px;
  height: 70px;
}
.header .header-block .logo-block .logo {
  width: 100%;
}
.header .hamburger {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .hamburger-block {
  display: none;
}

.header__nav-block .nav__list > * {
  margin: 0 6px 0 7px;
}
.header__nav-block .nav__list .list__item {
  list-style-type: none;
}
.header__nav-block .nav__list .list__item .item__link {
  color: #fff;
  text-decoration: none;
  font-family: "Rubik";
  font-size: 18px;
  padding: 2px 6px;
}
.header__nav-block .nav__list .list__item .item__link_noPadding {
  padding-right: 0;
}
.header__nav-block .nav__list .list__item:last-child {
  margin: 0 0 0 6px;
}

.main {
  position: relative;
  background: url(../img/content/background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100vh;
          flex: 1 1 100vh;
  margin-top: -140px;
}
.main .section1 {
  padding-top: 140px;
}
.main .section1 .section1-block {
  width: 100%;
  width: 1120px;
  height: 356px;
}
.main .section1 .section1-block .cover {
  width: inherit;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .section2 .section2-block {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .section2 .table {
  width: 100%;
}
.main .section2 .table .tbody {
  display: block;
  margin: -3px 0 0 -3px;
}
.main .section2 .table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.main .section2 .table-row .font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 400;
  color: #D10001;
}
.main .section2 .table-row .table-heading1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
.main .section2 .table-row .table-heading2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
.main .section2 .table-row .table-heading3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main .section2 .table-row .table-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  color: #fff;
}
.main .section2 .table-row .table-item {
  margin: 0 0 10px 0;
}
.main .section2 .table-row .table-item .item__link {
  font-size: 16px;
  color: #fff;
  margin-left: 56px;
  text-decoration: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.main .section2 .table-row .table-item .item__link:hover {
  color: #D10001;
}
.main .section2 .table-row .table-item .icon-block {
  width: 24px;
  height: 24px;
  margin: 0 15px 0 0;
}
.main .section2 .table-row .table-item .icon-block .item__icon {
  max-width: 100%;
  min-height: 100%;
}
.main .section2 .table-row .table-item2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
.main .section2 .table-row .table-item3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main .section2 .table-row .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 13px;
  height: 100%;
}
.main .section2 .table-row .last {
  margin: 0;
}
.main .section3 .section3-block {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .section3 .section3-block .card-block {
  /*                     margin: 0 -11px; */
}
.main .section3 .section3-block .card-block .card-item {
  position: relative;
  display: block;
  /*                         margin: 0 11px; */
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.main .section3 .section3-block .card-block .card-item .name-block {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 1;
}
.main .section3 .section3-block .card-block .card-item .name-block .card__name {
  font-size: 16px;
}
.main .section3 .section3-block .card-block .card-item .img-block {
  position: relative;
  max-width: 100%;
  min-height: 100%;
  z-index: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.main .section3 .section3-block .card-block .card-item .img-block .image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .section3 .section3-block .card-block .card-item:hover .img-block {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.main .section3 .section3-block .card-block:hover .card-item {
  opacity: 0.4;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.main .section3 .section3-block .card-block:hover .card-item:hover {
  opacity: 1;
  -webkit-transition: 0.3 ease-in-out;
  transition: 0.3 ease-in-out;
}
.main .section4-block {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .section5-block {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .section6-block {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .bg {
  background: #222222;
}

.footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70px;
          flex: 1 1 70px;
  height: 70px;
  background: #1c1c1c;
}

.footer-block {
  padding: 0 20px;
}
.footer-block .author {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.25);
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.footer-block .author:hover {
  color: #fff;
}
.footer-block .social-block {
  height: 70px;
}
.footer-block .social-block > *:not(:last-child) {
  margin: 0 10px 0 0;
}
.footer-block .social-block .icon-block {
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
}
.footer-block .social-block .icon-block:last-child {
  padding: 5px 0 5px 5px;
}
.footer-block .social-block .icon-block .icon {
  max-width: 100%;
  min-height: 100%;
}

@media (max-width: 1024px) {
  .main {
    position: relative;
    background: url(../img/content/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
  }
  .main .section1 {
    padding-top: 140px;
  }
  .main .section1 .section1-block {
    width: 100%;
    height: 356px;
  }
  .main .section1 .section1-block .cover {
    width: inherit;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .bg {
    background: #222222;
  }
  .main .section2 .section2-block {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section3 .section3-block {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section3 .section3-block .card-block .card-item {
    position: relative;
    display: block;
  }
  .main .section3 .section3-block .card-block .card-item .name-block {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
  }
  .main .section3 .section3-block .card-block .card-item .name-block .card__name {
    font-size: 16px;
  }
  .main .section3 .section3-block .card-block .card-item .img-block .image {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .section4-block {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section5-block {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section6-block {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (max-width: 768px) {
  .header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70px;
            flex: 1 1 70px;
    min-height: 70px;
    background: #1C1C1C;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
  }
  .header ._container {
    padding: 0 15px 0 15px;
  }
  .header ._container .header-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 70px;
    padding: 0;
  }
  .header ._container .header-block .logo-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 122px;
    min-height: 31px;
  }
  .header ._container .header-block .logo-block .logo {
    max-width: 100%;
    max-height: 100%;
  }
  .header .hamburger .hamburger-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
    height: 20px;
  }
  .header .hamburger .hamburger-block > *:not(:last-child) {
    margin: 0 0 5px 0;
  }
  .header .hamburger .hamburger-block .item {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 50px;
  }

  /*         .list-block {
              width: 100vw;
              margin: 0 0 0 -15px;
          } */
  .list-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    background: #222222;
  }

  .header__nav-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    position: relative;
    left: -100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 320px;
    margin: 0 -15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header__nav-block .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*                 position: absolute; */
    top: 70px;
    left: 0;
    width: 100vw;
  }
  .header__nav-block .nav__list > * {
    margin: 0px;
  }
  .header__nav-block .nav__list .list__item {
    list-style-type: none;
    width: 100%;
    height: 100%;
  }
  .header__nav-block .nav__list .list__item .item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: "Rubik";
    font-size: 18px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
  }
  .header__nav-block .nav__list .list__item .item__link:hover {
    background: #272727;
    color: #D10001;
  }
  .header__nav-block .nav__list .list__item .item__link_noPadding {
    padding-right: 0;
  }
  .header__nav-block .nav__list .list__item:last-child {
    margin: 0;
  }

  .main {
    position: relative;
    background: #222222;
    z-index: -1;
  }
  .main .section1 {
    padding-top: 140px;
    margin: 0 -15px;
  }
  .main .section1 .section1-block {
    width: 100%;
    height: 320px;
  }
  .main .section1 .section1-block .cover {
    width: inherit;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .section2 .section2-block {
    padding: 20px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section3 .section3-block {
    padding: 20px 0 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section3 .section3-block .card-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
  }
  .main .section3 .section3-block .card-block .card-item {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    font-size: 0;
    margin: 0;
  }
  .main .section3 .section3-block .card-block .card-item .name-block {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section3 .section3-block .card-block .card-item .name-block .card__name {
    font-size: 16px;
  }
  .main .section3 .section3-block .card-block .card-item .img-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .main .section3 .section3-block .card-block .card-item .img-block .image {
    font-size: 0;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .section4-block {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section5-block {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section6-block {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .bg {
    background: #222222;
  }

  .footer-block {
    padding: 0;
  }
  .footer-block .author {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.25);
    font-weight: 400;
    text-decoration: none;
  }
  .footer-block .social-block {
    height: 70px;
  }
  .footer-block .social-block > *:not(:last-child) {
    margin: 0 5px 0 0;
  }
  .footer-block .social-block .icon-block {
    display: block;
    width: 25px;
    height: 25px;
    padding: 5px;
  }
  .footer-block .social-block .icon-block:last-child {
    padding: 5px 0 5px 5px;
  }
  .footer-block .social-block .icon-block .icon {
    max-width: 100%;
    min-height: 100%;
  }
}
@media (max-width: 550px) {
  .main {
    position: relative;
    background: #222222;
    z-index: -1;
  }
  .main .section1 {
    padding-top: 140px;
    margin: 0 -15px;
  }
  .main .section1 .section1-block {
    width: 100%;
    height: 320px;
  }
  .main .section1 .section1-block .cover {
    width: inherit;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .section2 .section2-block {
    padding: 20px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section3 .section3-block {
    padding: 20px 0 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section3 .section3-block .card-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
  }
  .main .section3 .section3-block .card-block .card-item {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    font-size: 0;
    margin: 0;
  }
  .main .section3 .section3-block .card-block .card-item .name-block {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
  }
  .main .section3 .section3-block .card-block .card-item .name-block .card__name {
    font-size: 16px;
  }
  .main .section3 .section3-block .card-block .card-item .img-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .main .section3 .section3-block .card-block .card-item .img-block .image {
    font-size: 0;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .section4-block {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section5-block {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .section6-block {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .bg {
    background: #222222;
  }
}
@media (max-width: 587px) {
  .main .section2 .table {
    width: 100%;
  }
  .main .section2 .table .tbody {
    display: block;
    margin: -3px 0 0 -3px;
  }
  .main .section2 .table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .main .section2 .table-row .font {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 400;
    color: #D10001;
  }
  .main .section2 .table-row .table-heading1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
  .main .section2 .table-row .table-heading2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  .main .section2 .table-row .table-heading3 {
    display: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 0%;
            flex: 0 1 0%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main .section2 .table-row .table-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    color: #fff;
  }
  .main .section2 .table-row .table-item {
    margin: 0 0 10px 0;
  }
  .main .section2 .table-row .table-item .item__link {
    font-size: 16px;
    color: #fff;
    margin-left: 56px;
    text-decoration: none;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .main .section2 .table-row .table-item .item__link:hover {
    color: #D10001;
  }
  .main .section2 .table-row .table-item .icon-block {
    width: 24px;
    height: 24px;
    margin: 0 15px 0 0;
  }
  .main .section2 .table-row .table-item .icon-block .item__icon {
    max-width: 100%;
    min-height: 100%;
  }
  .main .section2 .table-row .table-item2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  .main .section2 .table-row .table-item3 {
    display: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 0%;
            flex: 0 1 0%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main .section2 .table-row .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 13px;
    height: 100%;
  }
  .main .section2 .table-row .last {
    margin: 0;
  }
}
@media (max-width: 320px) {
  .main .section2 .table {
    width: 100%;
  }
  .main .section2 .table .tbody {
    display: block;
    margin: -3px 0 0 -3px;
  }
  .main .section2 .table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .main .section2 .table-row .font {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px 0 20px 0;
    font-size: 20px;
    font-weight: 400;
    color: #D10001;
  }
  .main .section2 .table-row .title::before {
    display: none;
  }
  .main .section2 .table-row .table-heading1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .section2 .table-row .table-heading2 {
    display: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 0%;
            flex: 0 1 0%;
  }
  .main .section2 .table-row .table-heading3 {
    display: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 0%;
            flex: 0 1 0%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main .section2 .table-row .table-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    color: #fff;
  }
  .main .section2 .table-row .table-item {
    margin: 0 0 10px 0;
  }
  .main .section2 .table-row .table-item .item__link {
    font-size: 16px;
    color: #fff;
    margin-left: 43px;
    text-decoration: none;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .main .section2 .table-row .table-item .item__link:hover {
    color: #D10001;
  }
  .main .section2 .table-row .table-item .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 24px;
    height: 24px;
    margin: 0;
  }
  .main .section2 .table-row .table-item .icon-block .item__icon {
    max-width: 100%;
    min-height: 100%;
  }
  .main .section2 .table-row .table-item .nickname {
    display: none;
  }
  .main .section2 .table-row .table-item2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main .section2 .table-row .table-item3 {
    display: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 0%;
            flex: 0 1 0%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main .section2 .table-row .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .main .section2 .table-row .last {
    margin: 0;
  }
}
.show {
  position: relative;
  left: 0 !important;
}

body {
  font-family: "Rubik";
}