/* Container */
._container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
.df {
    display: flex;
}
.jcc {
    justify-content: center;
}
.jcsb {
    justify-content: space-between;
}
.jcfs {
    justify-content: flex-start;
}
.jcfe {
    justify-content: flex-end;
}
.ac {
    align-items: center;
}