    .wrapper {
        position: relative;
        z-index: 0;
        min-height: 100vh;
    }
    /* Default */
    .title {
            font-size: 20px;
            font-weight: 400;
            color: #D10001;
            margin-bottom: 15px;
            &::before {
                display: block;
                content: "";
                width: 2px;
                height: 20px;
                background: #D10001;
                margin-right: 10px;
            }
    }
    .text {
            min-height: 300px;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            padding-left: 13px;
            line-height: 1.3;
    }
    /*  */
    .header {
        flex: 1 1 70px;
        background: #1C1C1C;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, .15);
        .header-block {
            height: 70px;
            padding: 0 20px;
            .logo-block {
                max-width: 122px;
                min-height: 31px;
                height: 70px;
                .logo {
                    width: 100%;
                }
            }
        }
        .hamburger {
            justify-content: flex-end;
        }
        .hamburger-block {
            display: none;
        }
    }
    .header__nav-block {
        .nav__list {
            & > * {
                margin: 0 6px 0 7px;
            }
            .list__item {
                list-style-type: none;
                .item__link {
                    color: #fff;
                    text-decoration: none;
                    font-family: 'Rubik';
                    font-size: 18px;
                    padding: 2px 6px;
                }
                .item__link_noPadding {
                    padding-right: 0;
                }
                &:last-child {
                    margin: 0 0 0 6px;
                }
            }
        }   
    }
    .main {
        position: relative;
        background: url(../img/content/background.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
        flex: 1 1 100vh;
        margin-top: -140px;
        .section1 {
            padding-top: 140px;
            .section1-block {
                width: 100%;
                width: 1120px;
                height: 356px;
                .cover {
                    width: inherit;
                    min-height: 100%;
                    object-fit: cover;
                }
            }
        }
        .section2 {
            .section2-block {
                padding: 20px;
                box-sizing: border-box;
                .line {
                    & > *:first-child {
                        margin: 0 50px 0 0;
                    }
                    &:not(:last-child) {
                        margin: 0 0 30px 0;
                    }
                    .img__block {
                        max-width: 400px;
                        max-height: 100%;
                        .line__image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .page__title {
                    display: none;
                }
                .squads-table {
                    width: 100%;
                    .tbody {
                        display: block;
                        margin: -4px 0 0 -3px;
                        .table-row {
                            .table-heading1 {
                                flex: 0 1 315px;
                                
                            }
                            .table-heading2 {
                                flex: 0 1 315px;
                                &:before {
                                    display: none;
                                }
                            }
                            .title {
                                margin: 0 0 15px 0;
                            }
                            .table-item {
                                flex: 0 1 315px;
                                display: flex;
                                height: 21px;
                                & {
                                    margin: 0 0 10px 0;
                                }
                                .number {
                                    display: flex;
                                    align-items: center;
            
                                }
                                .item__link {
                                }
                                .icon-block {
                                    width: 20px;
                                    height: 20px;
                                    .item__icon {
                                        max-width: 100%;
                                        max-height: 100%;    
                                    }
                                }
                                .nickname {
            
                                }
                            }
                        }
                    }
                }
            }
            .table {
                width: 100%;
                .tbody {
                    display: block;
                    margin: -3px 0 0 -3px;
                }
            }
            .table-row {
                display: flex;
                width: 100%;
                .font {
                    display: flex;
                    align-items: center;
                    margin: 0 0 20px 0;
                    font-size: 20px;
                    font-weight: 400;
                    color: #D10001;
                }
                .table-heading1 {
                    flex: 0 1 40%;
                }
                .table-heading2 {
                    flex: 0 1 30%
                }
                .table-heading3 {
                    flex: 0 1 30%;
                    justify-content: flex-end;
                }
                .table-item {
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex: 0 1 40%;
                    color: #fff;
                    & {
                        margin: 0 0 10px 0;
                    }
                    .item__link {
                        font-size: 16px;
                        color: #fff;
                        margin-left: 56px;
                        text-decoration: none;
                        transition: .1s ease-in-out;
                        &:hover {
                            color: #D10001;
                        }
                    }
                    .icon-block {
                        width: 24px;
                        height: 24px;
                        margin: 0 15px 0 0;
                        .item__icon {
                            max-width: 100%;
                            min-height: 100%;
                        }
                    }
                }
                .table-item2 {
                    flex: 0 1 30%;
                }
                .table-item3 {
                    flex: 0 1 30%;
                    justify-content: flex-end;
                }
                .number {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 13px;
                    height: 100%;
                }
                .last {
                    margin: 0;
                }
            }
        }
        .section3 {
            .section3-block {
                padding: 20px;
                box-sizing: border-box;
                .card-block {
/*                     margin: 0 -11px; */
                    .card-item {
                        position: relative;
                        display: block;
/*                         margin: 0 11px; */
                        flex: 0 0 33.333%;
                        transition: .3s ease-in-out;
                        overflow: hidden;
                        .name-block {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 10px 15px;
                            background: rgba(0, 0, 0, .6);
                            color: #fff;
                            z-index: 1;
                            .card__name {
                                font-size: 16px;
                            }
                        }
                        .img-block {
                            position: relative;
                            max-width: 100%;
                            min-height: 100%;
                            z-index: 0;
                            transition: .3s ease-in-out;
                            .image {
                                max-width: 100%;
                                max-height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .card-item:hover .img-block {
                        transform: scale(1.1);
                        transition: .3s ease-in-out;
                    }
                    &:hover .card-item {
                        opacity: .4;
                        transition: .3s ease-in-out;
                    }
                    &:hover .card-item:hover {
                        opacity: 1;
                        transition: 0.3 ease-in-out;
                    }
                }
            }
        }
        
        .section4-block {
            padding: 20px;
            box-sizing: border-box;
        }
        .section5-block {
            padding: 20px;
            box-sizing: border-box;
        }
        .section6-block {
            padding: 20px;
            box-sizing: border-box;
        }
        .bg {
            background: #222222;
        }
    }

    .footer {
        flex: 1 1 70px;
        height: 70px;
        background: #1c1c1c;
    }
    .footer-block {
        padding: 0 20px;
        .author {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.25);
            font-weight: 400;
            text-decoration: none;
            transition: .2s ease;
            &:hover {
                color: #fff;
            }
        }
        .social-block {
            height: 70px;
            & > *:not(:last-child) {
                margin: 0 10px 0 0;
            }
            .icon-block {
                display: block;
                width: 30px;
                height: 30px;
                padding: 5px;
                &:last-child {
                    padding: 5px 0 5px 5px;
                }
                .icon {
                    max-width: 100%;
                    min-height: 100%;
                }
            }
        }
    }
    @media (max-width: 1024px) {
        .main {
            position: relative;
            background: url(../img/content/background.jpg) no-repeat;
            background-size: cover;
            background-attachment: fixed;
            z-index: -1;
            .section1 {
                padding-top: 140px;
                .section1-block {
                    width: 100%;
                    height: 356px;
                    .cover {
                        width: inherit;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .bg {
                background: #222222;
            }
            .section2 {
                .section2-block {
                    padding: 20px;
                    box-sizing: border-box;
                }
            }
            .section3 {
                .section3-block {
                    padding: 20px;
                    box-sizing: border-box;
                    .card-block {
                        .card-item {
                            position: relative;
                            display: block;
                            .name-block {
                                position: absolute;
                                top: auto;
                                bottom: 0;
                                right: 0;
                                padding: 10px 15px;
                                background: rgba(0, 0, 0, .6);
                                color: #fff;
                                .card__name {
                                    font-size: 16px;
                                }
                            }
                            .img-block {
                                .image {
                                    max-width: 100%;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
            
            .section4-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section5-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section6-block {
                padding: 20px;
                box-sizing: border-box;
            }
        }
    }
    @media (max-width: 964px) {
        .main {
            position: relative;
            background: #222222;
            z-index: -1;
            .section1 {
                padding-top: 140px;
                margin: 0 -15px;
                    .section1-block {
                        width: 100%;
                        height: 320px;
                        .cover {
                            width: inherit;
                            min-height: 100%;
                            object-fit: cover;
                        }
                    }
            }
            .section2 {
                .section2-block {
                    padding: 20px 0;
                    box-sizing: border-box;
                    .line {
                        & > *:first-child {
                            margin: 0 50px 0 0;
                        }
                        &:not(:last-child) {
                            margin: 0 0 30px 0;
                        }
                        .img__block {
                            flex: 0 1 35%;
                            max-width: 400px;
                            max-height: 100%;
                            .line__image {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .squads-table {
                        width: 100%;
                        .tbody {
                            display: block;
                            margin: -4px 0 0 -3px;
                            .table-row {
                                .table-heading1 {
                                    flex: 0 1 315px;
                                    
                                }
                                .table-heading2 {
                                    flex: 0 1 315px;
                                    &:before {
                                        display: none;
                                    }
                                }
                                .title {
                                    margin: 0 0 15px 0;
                                }
                                .table-item {
                                    flex: 0 1 315px;
                                    display: flex;
                                    height: 21px;
                                    & {
                                        margin: 0 0 10px 0;
                                    }
                                    .number {
                                        display: flex;
                                        align-items: center;
                
                                    }
                                    .item__link {
                                    }
                                    .icon-block {
                                        width: 20px;
                                        height: 20px;
                                        .item__icon {
                                            max-width: 100%;
                                            max-height: 100%;    
                                        }
                                    }
                                    .nickname {
                
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .section3 {
                .section3-block {
                    padding: 20px 0 0 0;
                    box-sizing: border-box;
                    .card-block {
                        flex-wrap: wrap;
                        margin: 0 -15px;
                         .card-item {
                            position: relative;
                            display: block;
                            flex: 0 1 50%;
                            font-size: 0;
                            margin: 0;
                            .name-block {
                                position: absolute;
                                top: auto;
                                bottom: 0;
                                right: 0;
                                width: 100%;
                                padding: 10px 15px;
                                background: rgba(0, 0, 0, .6);
                                color: #fff;
                                box-sizing: border-box;
                                .card__name {                                    font-size: 16px;
                                }
                            }
                            .img-block {
                                flex: 0 1 50%;
                                .image {
                                    font-size: 0;
                                    max-width: 100%;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
            
            .section4-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section5-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section6-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .bg {
                background: #222222;
            }
        }
    }

    @media (max-width: 768px) {
        .header {
            flex: 1 1 70px;
            min-height: 70px;
            background: #1C1C1C;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, .15);
            ._container {
                padding: 0 15px 0 15px;
                .header-block {
                    flex-wrap: wrap;
                    height: 70px;
                    padding: 0;
                    .logo-block {
                        flex: 0 1 50%;
                        max-width: 122px;
                        min-height: 31px;
                        .logo {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
            .hamburger {
                .hamburger-block {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    padding: 0;
                    height: 20px;
                    & > *:not(:last-child) {
                        margin: 0 0 5px 0;
                    }
                    .item {
                        display: block;
                        width: 25px;
                        height: 3px;
                        background: #fff;
                        border-radius: 50px;
                    }
                } 
            }
        }
/*         .list-block {
            width: 100vw;
            margin: 0 0 0 -15px;
        } */
        .list-block {
            flex: 1 0 100%;
            background: #222222;
        }
        .header__nav-block {
            flex: 1 1 100%;
            position: relative;
            left: -100vw;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: center;
            height: 320px;
            margin: 0 -15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            transition: 1s;
            .nav__list {
                display: flex;
                flex-direction: column;
/*                 position: absolute; */
                top: 70px;
                left: 0;
                width: 100vw;
                & > * {
                    margin: 0px;
                }
                .list__item {
                    list-style-type: none;
                    width: 100%;
                    height: 100%;
                    .item__link {
                        display: flex;
                        align-items: center;
                        color: #fff;
                        text-decoration: none;
                        font-family: 'Rubik';
                        font-size: 18px;
                        width: 100%;
                        height: 100%;
                        padding: 0 15px;
                        box-sizing: border-box;
                        transition: 0.1s ease;
                        &:hover {
                            background: #272727;
                            color: #D10001;
                        }
                    }
                    .item__link_noPadding {
                        padding-right: 0;
                    }
                    &:last-child {
                        margin: 0;
                    }
                }
            }  
        }
        .main {
            position: relative;
            background: #222222;
            z-index: -1;
            .section1 {
                padding-top: 140px;
                margin: 0 -15px;
                    .section1-block {
                        width: 100%;
                        height: 320px;
                        .cover {
                            width: inherit;
                            min-height: 100%;
                            object-fit: cover;
                        }
                    }
            }
            .section2 {
                .section2-block {
                    padding: 20px 0;
                    box-sizing: border-box;
                    .line {
                        & > *:first-child {
                            margin: 0 50px 0 0;
                        }
                        &:not(:last-child) {
                            margin: 0 0 30px 0;
                        }
                        .img__block {
                            flex: 0 1 auto;
                            max-width: 400px;
                            max-height: 100%;
                            .line__image {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .page__title {
                        display: block;
                        text-align: center;
                        margin: 5px 0 25px 0;
                        font-size: 24px;
                        font-weight: 400;
                        color: #D10001;
                    }
                    .squads-table {
                        width: 100%;
                        .tbody {
                            display: block;
                            margin: -4px 0 0 -3px;
                            .table-row {
                                .table-heading1 {
                                    flex: 0 1 315px;
                                    
                                }
                                .table-heading2 {
                                    display: none;
                                    flex: 0 1 315px;
                                    &:before {
                                        display: none;
                                    }
                                }
                                .title {
                                    margin: 0 0 15px 0;
                                }
                                .table-item {
                                    flex: 0 1 315px;
                                    display: flex;
                                    height: 21px;
                                    & {
                                        margin: 0 0 10px 0;
                                    }
                                    .number {
                                        display: flex;
                                        align-items: center;
                
                                    }
                                    .item__link {
                                    }
                                    .icon-block {
                                        width: 20px;
                                        height: 20px;
                                        margin: 0;
                                        .item__icon {
                                            max-width: 100%;
                                            max-height: 100%;    
                                        }
                                    }
                                    .respons {
                                        display: none;
                                    }
                                }
                                .table-item_t {
                                    justify-content: flex-end;
                                }
                            }
                        }
                    }
                }
            }
            .section3 {
                .section3-block {
                    padding: 20px 0 0 0;
                    box-sizing: border-box;
                    .card-block {
                        flex-wrap: wrap;
                        margin: 0 -15px;
                         .card-item {
                            position: relative;
                            display: block;
                            flex: 0 1 50%;
                            font-size: 0;
                            margin: 0;
                            .name-block {
                                position: absolute;
                                top: auto;
                                bottom: 0;
                                right: 0;
                                width: 100%;
                                padding: 10px 15px;
                                background: rgba(0, 0, 0, .6);
                                color: #fff;
                                box-sizing: border-box;
                                .card__name {                                    font-size: 16px;
                                }
                            }
                            .img-block {
                                flex: 0 1 50%;
                                .image {
                                    font-size: 0;
                                    max-width: 100%;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
            
            .section4-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section5-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section6-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .bg {
                background: #222222;
            }
        }
        .footer-block {
            padding: 0;
            .author {
                font-size: 16px;
                color: rgba(255, 255, 255, 0.25);
                font-weight: 400;
                text-decoration: none;
            }
            .social-block {
                height: 70px;
                & > *:not(:last-child) {
                    margin: 0 5px 0 0;
                }
                .icon-block {
                    display: block;
                    width: 25px;
                    height: 25px;
                    padding: 5px;
                    &:last-child {
                        padding: 5px 0 5px 5px;
                    }
                    .icon {
                        max-width: 100%;
                        min-height: 100%;
                    }
                }
            }
        }
    }
    @media (max-width: 550px) {
        .main {
            position: relative;
            background: #222222;
            z-index: -1;
            .section1 {
                padding-top: 140px;
                margin: 0 -15px;
                    .section1-block {
                        width: 100%;
                        height: 320px;
                        .cover {
                            width: inherit;
                            min-height: 100%;
                            object-fit: cover;
                        }
                    }
            }
            .section2 {
                .section2-block {
                    padding: 20px 0;
                    box-sizing: border-box;
                }
            }
            .section3 {
                .section3-block {
                    padding: 20px 0 0 0;
                    box-sizing: border-box;
                    .card-block {
                        flex-wrap: wrap;
                        margin: 0 -15px;
                         .card-item {
                            position: relative;
                            display: block;
                            flex: 0 1 100%;
                            font-size: 0;
                            margin: 0;
                            .name-block {
                                position: absolute;
                                top: auto;
                                bottom: 0;
                                right: 0;
                                padding: 10px 15px;
                                background: rgba(0, 0, 0, .6);
                                color: #fff;
                                .card__name {                                    font-size: 16px;
                                }
                            }
                            .img-block {
                                flex: 0 1 100%;
                                .image {
                                    font-size: 0;
                                    max-width: 100%;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
            
            .section4-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section5-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section6-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .bg {
                background: #222222;
            }
        }
    }
    @media (max-width: 587px) {
        .main {
            .section2 {
                .table {
                    width: 100%;
                    .tbody {
                        display: block;
                        margin: -3px 0 0 -3px;
                    }
                }
                .table-row {
                    display: flex;
                    width: 100%;
                    .font {
                        display: flex;
                        align-items: center;
                        margin: 0 0 20px 0;
                        font-size: 20px;
                        font-weight: 400;
                        color: #D10001;
                    }
                    .table-heading1 {
                        flex: 0 1 60%;
                    }
                    .table-heading2 {
                        flex: 0 1 40%
                    }
                    .table-heading3 {
                        display: none;
                        flex: 0 1 0%;
                        justify-content: flex-end;
                    }
                    .table-item {
                        position: relative;
                        display: flex;
                        align-items: center;
                        flex: 0 1 60%;
                        color: #fff;
                        & {
                            margin: 0 0 10px 0;
                        }
                        .item__link {
                            font-size: 16px;
                            color: #fff;
                            margin-left: 56px;
                            text-decoration: none;
                            transition: .1s ease-in-out;
                            &:hover {
                                color: #D10001;
                            }
                        }
                        .icon-block {
                            width: 24px;
                            height: 24px;
                            margin: 0 15px 0 0;
                            .item__icon {
                                max-width: 100%;
                                min-height: 100%;
                            }
                        }
                    }
                    .table-item2 {
                        flex: 0 1 40%
                    }
                    .table-item3 {
                        display: none;
                        flex: 0 1 0%;
                        justify-content: flex-end;
                    }
                    .number {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        left: 13px;
                        height: 100%;
                    }
                    .last {
                        margin: 0;
                    }
                }
            }
        }
    }
    @media (max-width: 576px) {
        .main {
            position: relative;
            background: #222222;
            z-index: -1;
            .section1 {
                padding-top: 140px;
                margin: 0 -15px;
                    .section1-block {
                        width: 100%;
                        height: 320px;
                        .cover {
                            width: inherit;
                            min-height: 100%;
                            object-fit: cover;
                        }
                    }
            }
            .section2 {
                .section2-block {
                    padding: 20px 0;
                    box-sizing: border-box;
                    .line {
                        flex-direction: column;
                        & > *:first-child {
                            margin: 0 0 20px 0;
                        }
                        &:not(:last-child) {
                            margin: 0 0 30px 0;
                        }
                        .img__block {
                            max-width: 100%;
                            max-height: 200px;
                            .line__image {
                                width: 100%;
                                height: 200px;
                                object-fit: cover;
                                object-position: top;
                            }
                        }
                        &:after {
                            display: block;
                            content: '';
                            width: 100%;
                            height: 1px;
                            background: rgba(255, 255, 255, .15);
                        }
                        &:last-child::after {
                            display: none;
                        }
                    }
                    .page__title {
                        text-align: center;
                        margin: 5px 0 20px 0;
                        font-size: 22px;
                        font-weight: 400;
                        color: #D10001;
                    }
                    .squads-table {
                        width: 100%;
                        & {
                            margin: 0 0 15px 0;
                        }
                        .tbody {
                            display: block;
                            margin: -4px 0 0 -3px;
                            .table-row {
                                .table-heading1 {
                                    flex: 0 1 100%;
                                    padding: 0 0 0 5px;
                                    box-sizing: border-box;
                                    &:before {
                                        display: block;
                                    }
                                }
                                .table-heading2 {
                                    display: none;
                                    flex: 0 1 50%;
                                    padding: 0 0 0 5px;
                                    box-sizing: border-box;
                                    &:before {
                                        display: none;
                                    }
                                }
                                .title {
                                    margin: 0 0 15px 0;
                                }
                                .table-item {
                                    flex: 0 1 60%;
                                    display: flex;
                                    height: 21px;
                                    & {
                                        margin: 0 0 10px 0;
                                    }
                                    .number {
                                        display: flex;
                                        align-items: center;
                                        left: 18px;
                                    }
                                    .item__link {
                                        margin: 0 0 0 61px;
                                    }
                                    .icon-block {
                                        width: 20px;
                                        height: 20px;
                                        margin:  0;
                                        .item__icon {
                                            max-width: 100%;
                                            max-height: 100%;    
                                        }
                                    }
                                    .respons {
                                        display: none;
                                    }
                                }
                                .table-item_t {
                                    flex: 0 1 40%;
                                    justify-content: flex-end;
                                    padding: 0;
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }
                    .last {
                        margin: 0;
                    }
                }
            }
            .section3 {
                .section3-block {
                    padding: 20px 0 0 0;
                    box-sizing: border-box;
                    .card-block {
                        flex-wrap: wrap;
                        margin: 0 -15px;
                         .card-item {
                            position: relative;
                            display: block;
                            flex: 0 1 50%;
                            font-size: 0;
                            margin: 0;
                            .name-block {
                                position: absolute;
                                top: auto;
                                bottom: 0;
                                right: 0;
                                width: 100%;
                                padding: 10px 15px;
                                background: rgba(0, 0, 0, .6);
                                color: #fff;
                                box-sizing: border-box;
                                .card__name {                                    font-size: 16px;
                                }
                            }
                            .img-block {
                                flex: 0 1 50%;
                                .image {
                                    font-size: 0;
                                    max-width: 100%;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 425px) {
        .main {
            position: relative;
            background: #222222;
            z-index: -1;
            .section1 {
                padding-top: 140px;
                margin: 0 -15px;
                    .section1-block {
                        width: 100%;
                        height: 320px;
                        .cover {
                            width: inherit;
                            min-height: 100%;
                            object-fit: cover;
                        }
                    }
            }
            .section2 {
                .section2-block {
                    padding: 20px 0;
                    box-sizing: border-box;
                    .line {
                        flex-direction: column;
                        & > *:first-child {
                            margin: 0 0 20px 0;
                        }
                        &:not(:last-child) {
                            margin: 0 0 30px 0;
                        }
                        .img__block {
                            max-width: 100%;
                            height: 145px;
                            .line__image {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: top;
                            }
                        }
                        &:after {
                            display: block;
                            content: '';
                            width: 100%;
                            height: 1px;
                            background: rgba(255, 255, 255, .15);
                        }
                        &:last-child::after {
                            display: none;
                        }
                    }
                    .page__title {
                        text-align: center;
                        margin: 5px 0 20px 0;
                        font-size: 22px;
                        font-weight: 400;
                        color: #D10001;
                    }
                    .squads-table {
                        width: 100%;
                        & {
                            margin: 0 0 15px 0;
                        }
                        .tbody {
                            display: block;
                            margin: -4px 0 0 -3px;
                            .table-row {
                                .table-heading1 {
                                    flex: 0 1 100%;
                                    padding: 0 0 0 5px;
                                    box-sizing: border-box;
                                    &:before {
                                        display: block;
                                    }
                                }
                                .table-heading2 {
                                    display: none;
                                    flex: 0 1 50%;
                                    padding: 0 0 0 5px;
                                    box-sizing: border-box;
                                    &:before {
                                        display: none;
                                    }
                                }
                                .title {
                                    margin: 0 0 15px 0;
                                }
                                .table-item {
                                    flex: 0 1 60%;
                                    display: flex;
                                    height: 21px;
                                    & {
                                        margin: 0 0 10px 0;
                                    }
                                    .number {
                                        display: flex;
                                        align-items: center;
                                        left: 18px;
                                    }
                                    .item__link {
                                        margin: 0 0 0 61px;
                                    }
                                    .icon-block {
                                        width: 20px;
                                        height: 20px;
                                        margin:  0;
                                        .item__icon {
                                            max-width: 100%;
                                            max-height: 100%;    
                                        }
                                    }
                                    .respons {
                                        display: none;
                                    }
                                }
                                .table-item_t {
                                    flex: 0 1 40%;
                                    justify-content: flex-end;
                                    padding: 0;
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }
                    .last {
                        margin: 0;
                    }
                }
            }
            .section3 {
                .section3-block {
                    padding: 20px 0 0 0;
                    box-sizing: border-box;
                    .card-block {
                        flex-wrap: wrap;
                        margin: 0 -15px;
                         .card-item {
                            position: relative;
                            display: block;
                            flex: 0 1 50%;
                            font-size: 0;
                            margin: 0;
                            .name-block {
                                position: absolute;
                                top: auto;
                                bottom: 0;
                                right: 0;
                                width: 100%;
                                padding: 10px 15px;
                                background: rgba(0, 0, 0, .6);
                                color: #fff;
                                box-sizing: border-box;
                                .card__name {                                    font-size: 16px;
                                }
                            }
                            .img-block {
                                flex: 0 1 50%;
                                .image {
                                    font-size: 0;
                                    max-width: 100%;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 320px) {
        .main {
            .section2 {
                .table {
                    width: 100%;
                    .tbody {
                        display: block;
                        margin: -3px 0 0 -3px;
                    }
                }
                .table-row {
                    display: flex;
                    width: 100%;
                    .font {
                        display: flex;
                        align-items: center;
                        margin: 5px 0 20px 0;
                        font-size: 20px;
                        font-weight: 400;
                        color: #D10001;
                    }
                    .title {
                        &::before {
                            display: none;
                        }
                }
                    .table-heading1 {
                        flex: 0 1 100%;
                        justify-content: flex-start;
                    }
                    .table-heading2 {
                        display: none;
                        flex: 0 1 0%
                    }
                    .table-heading3 {
                        display: none;
                        flex: 0 1 0%;
                        justify-content: flex-end;
                    }
                    .table-item {
                        position: relative;
                        display: flex;
                        align-items: center;
                        flex: 0 1 60%;
                        color: #fff;
                        & {
                            margin: 0 0 10px 0;
                        }
                        .item__link {
                            font-size: 16px;
                            color: #fff;
                            margin-left: 43px;
                            text-decoration: none;
                            transition: .1s ease-in-out;
                            &:hover {
                                color: #D10001;
                            }
                        }
                        .icon-block {
                            display: flex;
                            justify-content: flex-end;
                            width: 24px;
                            height: 24px;
                            margin: 0;
                            .item__icon {
                                max-width: 100%;
                                min-height: 100%;
                            }
                        }
                        .nickname {
                            display: none;
                        }
                    }
                    .table-item2 {
                        flex: 0 1 40%;
                        justify-content: flex-end;
                    }
                    .table-item3 {
                        display: none;
                        flex: 0 1 0%;
                        justify-content: flex-end;
                    }
                    .number {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                    }
                    .last {
                        margin: 0;
                    }
                }
            }
        }
    }
    .show {
        position: relative;
        left: 0!important;
    }