    .wrapper {
        position: relative;
        z-index: 0;
        min-height: 100vh;
    }
    /* Default */
    .title {
            font-size: 20px;
            font-weight: 400;
            color: #D10001;
            margin-bottom: 15px;
            &::before {
                display: block;
                content: "";
                width: 2px;
                height: 20px;
                background: #D10001;
                margin-right: 10px;
            }
    }
    .text {
            min-height: 300px;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            padding-left: 13px;
            line-height: 1.3;
    }
    /*  */
    .header {
        flex: 1 1 70px;
        background: #1C1C1C;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, .15);
        .header-block {
            height: 70px;
            padding: 0 20px;
            .logo-block {
                max-width: 122px;
                min-height: 31px;
                .logo {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .header__nav-block {
                .nav__list {
                    & > * {
                        margin: 0 6px 0 7px;
                    }
                    .list__item {
                        list-style-type: none;
                        .item__link {
                            color: #fff;
                            text-decoration: none;
                            font-family: 'Rubik';
                            font-size: 18px;
                            padding: 2px 6px;
                        }
                        .item__link_noPadding {
                            padding-right: 0;
                        }
                        &:last-child {
                            margin: 0 0 0 6px;
                        }
                    }
                }   
            }
        }
        .hamburger-block {
            display: none;
        }
    }
    .main {
        position: relative;
        background: url(../img/content/background.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
        flex: 1 1 100vh;
        margin-top: -140px;
        .section1 {
            padding-top: 140px;
            .section1-block {
                width: 100%;
                width: 1120px;
                height: 356px;
                .cover {
                    width: inherit;
                    min-height: 100%;
                    object-fit: cover;
                }
            }
        }
        .section2 {
            .section2-block {
                padding: 20px;
                box-sizing: border-box;
            }
        }
        .section3 {
            .section3-block {
                padding: 20px;
                box-sizing: border-box;
                .card-block {
/*                     margin: 0 -11px; */
                    .card-item {
                        position: relative;
                        display: block;
/*                         margin: 0 11px; */
                        flex: 0 0 33.333%;
                        transition: .3s ease-in-out;
                        overflow: hidden;
                        .name-block {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 10px 15px;
                            background: rgba(0, 0, 0, .6);
                            color: #fff;
                            z-index: 1;
                            .card__name {
                                font-size: 16px;
                            }
                        }
                        .img-block {
                            position: relative;
                            max-width: 100%;
                            min-height: 100%;
                            z-index: 0;
                            transition: .3s ease-in-out;
                            .image {
                                max-width: 100%;
                                max-height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .card-item:hover .img-block {
                        transform: scale(1.1);
                        transition: .3s ease-in-out;
                    }
                    &:hover .card-item {
                        opacity: .4;
                        transition: .3s ease-in-out;
                    }
                    &:hover .card-item:hover {
                        opacity: 1;
                        transition: 0.3 ease-in-out;
                    }
                }
            }
        }
        
        .section4-block {
            padding: 20px;
            box-sizing: border-box;
        }
        .section5-block {
            padding: 20px;
            box-sizing: border-box;
        }
        .section6-block {
            padding: 20px;
            box-sizing: border-box;
        }
        .bg {
            background: #222222;
        }
    }

    .footer {
        flex: 1 1 70px;
        height: 70px;
        background: #1c1c1c;
    }
    .footer-block {
        padding: 0 20px;
        .author {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.25);
            font-weight: 400;
            text-decoration: none;
            transition: .2s ease;
            &:hover {
                color: #fff;
            }
        }
        .social-block {
            height: 70px;
            & > *:not(:last-child) {
                margin: 0 10px 0 0;
            }
            .icon-block {
                display: block;
                width: 30px;
                height: 30px;
                padding: 5px;
                &:last-child {
                    padding: 5px 0 5px 5px;
                }
                .icon {
                    max-width: 100%;
                    min-height: 100%;
                }
            }
        }
    }
    @media (max-width: 1024px) {
        .main {
            position: relative;
            background: url(../img/content/background.jpg) no-repeat;
            background-size: cover;
            background-attachment: fixed;
            z-index: -1;
            .section1 {
                padding-top: 140px;
                .section1-block {
                    width: 100%;
                    height: 356px;
                    .cover {
                        width: inherit;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .bg {
                background: #222222;
            }
            .section2 {
                .section2-block {
                    padding: 20px;
                    box-sizing: border-box;
                }
            }
            .section3 {
                .section3-block {
                    padding: 20px;
                    box-sizing: border-box;
                    .card-block {
                        .card-item {
                            position: relative;
                            display: block;
                            .name-block {
                                position: absolute;
                                top: auto;
                                bottom: 0;
                                right: 0;
                                padding: 10px 15px;
                                background: rgba(0, 0, 0, .6);
                                color: #fff;
                                .card__name {
                                    font-size: 16px;
                                }
                            }
                            .img-block {
                                .image {
                                    max-width: 100%;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
            
            .section4-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section5-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section6-block {
                padding: 20px;
                box-sizing: border-box;
            }
        }
    }
    @media (max-width: 768px) {
        .header {
            flex: 1 1 70px;
            background: #1C1C1C;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, .15);
            ._container {
                padding: 0 5px 0 15px;
                .header-block {
                    height: 70px;
                    padding: 0;
                    .logo-block {
                        max-width: 122px;
                        min-height: 31px;
                        .logo {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    .header__nav-block {
                        .nav__list {
                            display: none;
                            & > * {
                                margin: 0 6px 0 7px;
                            }
                            .list__item {
                                list-style-type: none;
                                .item__link {
                                    color: #fff;
                                    text-decoration: none;
                                    font-family: 'Rubik';
                                    font-size: 18px;
                                    padding: 2px 6px;
                                }
                                .item__link_noPadding {
                                    padding-right: 0;
                                }
                                &:last-child {
                                    margin: 0 0 0 6px;
                                }
                            }
                        }
                        .hamburger-block {
                            display: flex;
                            flex-direction: column;
                            padding: 5px 10px;
                            & > *:not(:last-child) {
                                margin: 0 0 5px 0;
                            }
                            .item {
                                display: block;
                                width: 25px;
                                height: 3px;
                                background: #fff;
                                border-radius: 50px;
                            }
                        }   
                    }
                }
            }
        }
        .main {
            position: relative;
            background: #222222;
            z-index: -1;
            .section1 {
                padding-top: 140px;
                margin: 0 -15px;
                    .section1-block {
                        width: 100%;
                        height: 356px;
                        .cover {
                            width: inherit;
                            min-height: 100%;
                            object-fit: cover;
                        }
                    }
            }
            .section2 {
                .section2-block {
                    padding: 20px 0;
                    box-sizing: border-box;
                }
            }
            .section3 {
                .section3-block {
                    padding: 20px 0 0 0;
                    box-sizing: border-box;
                    .card-block {
                        flex-wrap: wrap;
                        margin: 0 -15px;
                         .card-item {
                            position: relative;
                            display: block;
                            flex: 0 1 50%;
                            font-size: 0;
                            margin: 0;
                            .name-block {
                                position: absolute;
                                top: auto;
                                bottom: 0;
                                right: 0;
                                width: 100%;
                                padding: 10px 15px;
                                background: rgba(0, 0, 0, .6);
                                color: #fff;
                                box-sizing: border-box;
                                .card__name {                                    font-size: 16px;
                                }
                            }
                            .img-block {
                                flex: 0 1 50%;
                                .image {
                                    font-size: 0;
                                    max-width: 100%;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
            
            .section4-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section5-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section6-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .bg {
                background: #222222;
            }
        }
        .footer-block {
            padding: 0;
            .author {
                font-size: 16px;
                color: rgba(255, 255, 255, 0.25);
                font-weight: 400;
                text-decoration: none;
            }
            .social-block {
                height: 70px;
                & > *:not(:last-child) {
                    margin: 0 5px 0 0;
                }
                .icon-block {
                    display: block;
                    width: 25px;
                    height: 25px;
                    padding: 5px;
                    &:last-child {
                        padding: 5px 0 5px 5px;
                    }
                    .icon {
                        max-width: 100%;
                        min-height: 100%;
                    }
                }
            }
        }
    }
    @media (max-width: 550px) {
        .main {
            position: relative;
            background: #222222;
            z-index: -1;
            .section1 {
                padding-top: 140px;
                margin: 0 -15px;
                    .section1-block {
                        width: 100%;
                        height: 356px;
                        .cover {
                            width: inherit;
                            min-height: 100%;
                            object-fit: cover;
                        }
                    }
            }
            .section2 {
                .section2-block {
                    padding: 20px 0;
                    box-sizing: border-box;
                }
            }
            .section3 {
                .section3-block {
                    padding: 20px 0 0 0;
                    box-sizing: border-box;
                    .card-block {
                        flex-wrap: wrap;
                        margin: 0 -15px;
                         .card-item {
                            position: relative;
                            display: block;
                            flex: 0 1 100%;
                            font-size: 0;
                            margin: 0;
                            .name-block {
                                position: absolute;
                                top: auto;
                                bottom: 0;
                                right: 0;
                                padding: 10px 15px;
                                background: rgba(0, 0, 0, .6);
                                color: #fff;
                                .card__name {                                    font-size: 16px;
                                }
                            }
                            .img-block {
                                flex: 0 1 100%;
                                .image {
                                    font-size: 0;
                                    max-width: 100%;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
            
            .section4-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section5-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .section6-block {
                padding: 20px;
                box-sizing: border-box;
            }
            .bg {
                background: #222222;
            }
        }
    }